<div class="container">
	<img id="background" src="aqua-teen-hunger-force.jpg">
	<div id="meatwad"></div>
	<div id="carl"></div>
	<div id="frylock"></div>
	<div id="shake"></div>
	<div id="window"></div>
	<div id="radio"></div>

	<div id="meatwad-info" class="information-container">
		<h1>Meatwad</h1>
	</div>

	<div id="carl-info" class="information-container">
		<h1>Carl</h1>
	</div>

	<div id="frylock-info" class="information-container">
		<h1>Frylock</h1>
	</div>

	<div id="shake-info" class="information-container">
		<h1>Shake</h1>
	</div>

	<div id="window-info" class="information-container">
		<h1>Window</h1>
	</div>
	
	<div id="radio-info" class="information-container">
		<h1>Radio</h1>
	</div>
	
</div>